<div class="page-home">
  <div class="container">  
    <div class="row">
      <div class="col-xs-12">
        <ul masonry="{ gutter: 10 }" load-images="true">
          <li class='pin masonry-brick' ng-repeat="pin in pins | filter:sortByUsename" ng-class="{my: checkUs === pin.username}">
            <img src='{{pin.link}}'>
            <div class='content' >
              <p class='title'>{{pin.description}}</p>
              <i ng-click='like(pin._id)' class="fa fa-heart" aria-hidden="true" ng-class="{dis: disabled === true, voted: pin.voted === true}"> {{pin.totalLikes}}</i>
              <i class="fa fa-retweet" aria-hidden="true" ng-class="{dis: disabled === true}"> 0</i>
            </div>
            <div class='content bordered' ng-click='sorting(pin.username)'>
              <div class='avatar'></div>
              <div class='username' ng-show="checkUs === pin.username"><span>you</span></div>
              <div class='username' ng-hide="checkUs === pin.username"><span>{{pin.username}}</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>