<div class="page-home">
  <div class="container">  
    <div class="row">
      <div class="col-xs-12">
        <ul masonry="{ gutter: 10 }" load-images="true">
          <li class='pin masonry-brick' ng-repeat="pin in pins | filter:{username:sortByUsername}" ng-class="{my: checkUs === pin.username}">
            <img ng-src='{{pin.link}}' on-error-src="./images/sorry.png">
            <div class='content' >
              <p class='title'>{{pin.description}}</p>
              <div ng-hide="disabled">
                <span ng-hide="checkUs === pin.username">
                  <i ng-click='like(pin._id)' class="fa fa-heart" aria-hidden="true" ng-class="{voted: pin.voted === true}"> {{pin.totalLikes}}</i>
                  <i ng-click='repost(pin._id)' class="fa fa-retweet" aria-hidden="true" ng-class="{voted: pin.rep === true}"> {{pin.totalReposts}}</i>
                </span>
                <span ng-show="checkUs === pin.username">
                  <i class="fa fa-heart" aria-hidden="true"> {{pin.totalLikes}}</i>
                  <i class="fa fa-retweet" aria-hidden="true"> {{pin.totalReposts}}</i>
                </span>
              </div>
              <div ng-show="disabled">
                <i class="my fa fa-heart" aria-hidden="true"> {{pin.totalLikes}}</i>
                <i class="my fa fa-retweet" aria-hidden="true"> {{pin.totalReposts}}</i>
              </div>
            </div>
            <div class='content bordered' ng-click='sorting(pin.username)' tooltips tooltip-template="sort by username">
              <div class='avatar'></div>
              <div class='username' ng-show="checkUs === pin.username"><span>you</span></div>
              <div class='username' ng-hide="checkUs === pin.username"><span>{{pin.username}}</span></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>