<div class="page-home">
  <div class="container">  
    <div class="row">
      <div class="col-xs-12">
        <ul masonry="{ gutter: 10 }" load-images="true">
          <li class='pin masonry-brick' ng-repeat="pin in pins">
            <img src='{{pin.link}}'>
            <div class='content'>
              <p class='title'>{{pin.description}}</p>
              <i class="fa fa-heart" aria-hidden="true"> 0</i><i class="fa fa-retweet" aria-hidden="true"> 0</i>
            </div>
            <div class='content bordered'>
              <div class='avatar'></div>
              <div class='username'>{{pin.username}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>