<div class="container">  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="page-new">
        <h1 class='text-center'>Create New Poll</h1>
        <form role="form" ng-submit="createPoll()">
          <div class="form-group">
            <label for="pollQuestion">Question</label>
            <input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question">
          </div>
          <div class="form-group">
            <label>Choices</label>
            <div ng-repeat="choice in poll.choices">
              <input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
            </div>
          </div>    
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-default" ng-click="addChoice()">
                <span class="glyphicon glyphicon-plus"></span> Add another
              </button>
            </div>
          </div>
          <p><hr></p>
          <div class="row">
            <div class="col-xs-6">
              <div class="btn_back">
                <a href="/" class="btn btn-back" role="button">
                  <span class="glyphicon glyphicon-arrow-left"></span> 
                Back to Poll List</a>
              </div>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-vote pull-right" type="submit"> Create Poll &raquo;</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>