<div class="container">  
  <div class="row">
    <div class="col-xs-12">
      <div class="page-profile">	
        <h1 class='text-center'>Hello, {{username}}</h1>
        <div class="row">
          <div class="col-xs-12">
            <a href="/new" class="btn btn-vote"><span class="glyphicon glyphicon-plus"></span> New Pin</a>
            <ul masonry="{ gutter: 10 }" load-images="true">
              <li class='pin masonry-brick' ng-repeat="pin in userPins">
                <img ng-src='{{pin.link}}' on-error-src="./images/sorry.png">
                <div class='content'>
                  <span class='delete' ng-click='deletePoll(pin._id)'>
                    <i class="fa fa-times" aria-hidden="true" tooltips tooltip-template="delete pin"></i>
                  </span>
                  <p class='title'>{{pin.description}}</p>
                  <i class="my fa fa-heart" aria-hidden="true"> {{pin.totalLikes}}</i>
                  <i class="my fa fa-retweet" aria-hidden="true"> {{pin.totalReposts}}</i>
                </div>
              </li>
              <li class='pin repost masonry-brick' ng-repeat="reposts in userReposts">
                <img ng-src='{{reposts.link}}' on-error-src="./images/sorry.png">
                <div class='content'>
                  <span class='delete' ng-click='deleteRepost(reposts._id)'>
                    <i class="fa fa-retweet" aria-hidden="true" tooltips tooltip-template="delete repost"></i>
                  </span>
                  <p class='title'>{{reposts.description}}</p>
                  <i class="my fa fa-heart" aria-hidden="true"> {{reposts.totalLikes}}</i>
                  <i class="my fa fa-retweet" aria-hidden="true"> {{reposts.totalReposts}}</i>
                </div>
                <div class='content bordered'>
                  <div class='avatar'></div>
                  <div class='username'><span>{{reposts.username}}</span></div>
                </div>
              </li>              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>