<!DOCTYPE html>
<html>
  <head>
    <title>IB-Interest</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/" />
    <link href="./components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="./components/angular-tooltips/dist/angular-tooltips.min.css" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='./stylesheets/style.css' />
  </head>
  <body ng-app="pinterest" class='ng-cloak'>
    <nav class="nav navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MainCtrl">
      <div class="container">
      <div class='navbar-header'>
        <a class="navbar-brand" href="/">Home</a>
      </div>
          <ul class="nav navbar-nav navbar-right">
            <li ng-hide='showing'><a href='/login'>Login</a></li>
            <li ng-hide='showing'><a href='/signup'>Signup</a></li>
            <li ng-show='showing'><a href="/profile">Profile</a></li>
            <li ng-show='showing'><form action="/logout" method="get"><input class='logout' type="submit" value="Logout"></form></li>
          </ul>
      </div>
    </nav>
    
    <div ng-view ></div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="./components/jquery/dist/jquery.js"></script>
    <script src="./components/angular/angular.min.js"></script>
    <script src="./components/angular-masonry/angular-masonry.js"></script>
    <script src="./components/angular-route/angular-route.min.js"></script>
    <script src="./components/angular-resource/angular-resource.min.js"></script>
    <script src="./components/angular-tooltips/dist/angular-tooltips.min.js"></script>
    <script src="./components/jquery-bridget/jquery-bridget.js"></script>
    <script src="./components/ev-emitter/ev-emitter.js"></script>
    <script src="./components/desandro-matches-selector/matches-selector.js"></script>
    <script src="./components/fizzy-ui-utils/utils.js"></script>
    <script src="./components/get-size/get-size.js"></script>
    <script src="./components/outlayer/item.js"></script>
    <script src="./components/outlayer/outlayer.js"></script>
    <script src="./components/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="./components/imagesloaded/imagesloaded.js"></script>
        
    <script src="./javascripts/angularApp.js"></script>  
  </body>
</html>