body, html {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  padding: 50px 0px 30px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: bold;
}

a {
  color: #96d0e6;
}

a:hover, a:focus {
  color: #333;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

button, input[type='submit'] {
  outline: none !important;
}

.navbar-header ul{
  float: right;
}

.navbar-inverse .navbar-nav>li>a,
input.logout{
  font-size: 16px;
}

.ng-cloak {
  display: none;
}

input.logout {
  background-color: transparent;
  border: none;
  color: #9d9d9d;
  padding-top: 13.5px;
  padding-bottom: 10px;
  padding-left: 15px;
}

input.logout:hover,
input.logout:focus {
  color: #fff;
}

.page-home {
  margin-bottom: 50px;
  margin-top: 30px;
}

.pin{
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  font-style: normal;
  max-width: 250px;
  transition: 0.2s;
  display: block;
  margin-bottom: 10px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(186,186,186,1);
-moz-box-shadow: 0px 0px 3px 0px rgba(186,186,186,1);
box-shadow: 0px 0px 3px 0px rgba(186,186,186,1);
}


.pin.my{
  -webkit-box-shadow: 0px 0px 3px 0px #96d0e6;
-moz-box-shadow: 0px 0px 3px 0px #96d0e6;
box-shadow: 0px 0px 3px 0px #96d0e6;
}

.pin.my .content.bordered .username{
  font-weight: bold;
}

.pin img {
  width: 100%;
} 
.pin .content {
  position: relative;
  padding: 15px 10px;
}

.pin .content span.delete {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 10px;
  display: block;
}

.pin .content span.delete .fa:hover,
.pin .content span.delete .fa:focus{
  color:red;
}

.pin .content.bordered{
  border-top: 2px solid #f5f5f5;
}

.pin .content.bordered .avatar{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #f5f5f5;
}

.pin .content.bordered .username{
  display: inline-block;
  width: calc(100% - 40px);
  vertical-align: top;
  margin: 5px 0 0 5px;
  font-size: 14px;
  color: #333;
}

.pin .content .fa{
  padding: 5px 10px 0 0;
  font-size: 14px !important;
  color: #ccc;
  cursor: pointer;
}

.pin .content .fa:hover,
.pin .content .fa:focus{
  color: #96d0e6;
}

.pin .content p.title{
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.btn_back .btn-back{
  background-color: transparent;
  border: 1px solid #96d0e6;
  opacity: 1;
  padding: 10px 20px;
}

.btn_back .btn-back:hover,
.btn_back .btn-back:focus{
  background-color: #fff;
  color: #96d0e6;
}

.btn-vote {
  background-color: #96d0e6;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px 40px 7px 40px;
  transition: .3s;
  position: relative;
  outline: none;
  margin-top: 20px;
}

.btn-vote:hover,
.btn-vote:focus{
  border: 1px solid #96d0e6;
  background-color: #fff;
  color: #96d0e6;
}

.page-profile {
  margin-top: 70px;
}

.page-profile .btn-vote {
  margin-bottom: 40px;
  padding: 7px 82px 7px 70px;
  margin-left: 15px;
}

.page-profile .poll_link span{
  top: 20px;
}

.page-profile .poll_link a{
  color: #666;
  width: 100%;
  display: block;
}

.page-profile .poll_link:hover,
.page-profile .poll_link:focus{
  background-color: #96d0e6;
}

.page-profile .poll_link:hover a,
.page-profile .poll_link:focus a{
  color: #fff;
  text-decoration: none;
}


.page-new {
  margin-top: 70px;
  margin-bottom: 50px;
}

.page-new .form-group {
  margin-bottom: 25px;
}

.page-new .form-group .form-control {
  height: 44px;
  font-size: 12px;
}

.page-new  .btn-vote {
  margin-top: 0;
}

.page-new .btn-default:hover,
.page-new .btn-default:focus{
  background-color: #96d0e6;
  color: #fff;
  border: 1px solid #96d0e6;
}

.page-new .img-prewiew{
  width: 100%;
  margin-bottom: 40px;
}

.page-login {
  margin-top: 70px;
}
.page-login h1 {
  margin-bottom: 20px;
}

.page-login form{
  width: 300px;
  margin: auto;
  padding: 20px 30px 10px;
  border: 1px solid #efdfdf;
  border-radius: 4px;
}

.page-login form p{
  margin-top: 30px;
  text-align: center;
}

.page-login form label {
  color: #666;
}

.btn-login {
  background-color: #96d0e6;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  width: 100%;
  display: block;
  transition: .3s;
  position: relative;
  outline: none;
  margin-top: 30px;
}

.btn-login:hover,
.btn-login:focus {
  color: #96d0e6;
  background-color: #fff;
  border: 1px solid #96d0e6;
}