body, html {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  padding: 50px 0px 30px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 40px;
  font-size: 52px;
  font-weight: bold;
}

h2 {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: bold;
}

a {
  color: #96d0e6;
}

ul {
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
}

button, input[type='submit'] {
  outline: none !important;
}

.navbar-header ul{
  float: right;
}

.navbar-inverse .navbar-nav>li>a,
input.logout{
  font-size: 16px;
}

.ng-cloak {
  display: none;
}

input.logout {
  background-color: transparent;
  border: none;
  color: #9d9d9d;
  padding-top: 13.5px;
  padding-bottom: 10px;
  padding-left: 15px;
}

input.logout:hover,
input.logout:focus {
  color: #fff;
}

.page-home {
  margin-bottom: 50px;
}

.page-home .banner {
  background-color: #96d0e6;
  padding: 70px 0 90px;
  color: #f5f5f5;
  margin-bottom: 30px;
}

.poll_link{
  padding: 20px 160px 20px 15px;
  border: 1px solid #96d0e6;
  width: 100%;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  background-color: #fff;
  font-style: normal;
  position: relative;
  transition: 0.2s;
}
.poll_link span{
  position: absolute;
  top: 23px;
  right: 25px;
  cursor: pointer;
  font-size: 14px;
}

.poll_link span:hover{
  color: #fff;
}

.page-home .poll_link:hover,
.page-home .poll_link:focus{
  background-color: #96d0e6;
  color: #fff;
  text-decoration: none;
}

.page-home .banner h1{
  text-transform: uppercase;
  font-size: 70px;
  margin-bottom: 20px;
}

.page-home .banner h4 {
  font-size: 20px;
}

.page-home .form-control{
  height: 40px;
  margin-top: 28px;
}
.page-single {
  margin-top: 100px;
}

.page-single h1 {
  margin-top: 0;
  text-align: left;
  padding-left: 15px;
}

.page-single .wrapper {
  position: relative;
}

.page-single .wrapper .btn_back{
  position: absolute;
  bottom: 0px;
  left: 30px;
}

.btn_back .btn-back{
  background-color: transparent;
  border: 1px solid #96d0e6;
  opacity: 1;
  padding: 10px 20px;
}

.btn_back .btn-back:hover,
.btn_back .btn-back:focus{
  border: 1px solid #333;
}

.page-single .info{
  margin-top: 20px;
  font-size: 16px;
}

.page-single label.votes{
  display: block;
  border: 1px solid #96d0e6;
  padding: 10px 60px;
  font-size: 22px;
  text-align: left;
  border-radius: 5px;
}

.page-single .radio input[type=radio] {
  margin-left: -25px;
  top: 15px;
}

.btn-vote {
  background-color: #96d0e6;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 7px 40px 7px 40px;
  transition: .3s;
  position: relative;
  outline: none;
  margin-top: 20px;
}

.btn-vote:hover,
.btn-vote:focus{
  border: 1px solid #333;
  background-color: transparent;
}

.page-profile {
  margin-top: 70px;
}

.page-profile .btn-vote {
  margin-bottom: 40px;
  padding: 7px 60px;
  margin-left: 15px;
}

.page-profile .poll_link span{
  top: 20px;
}

.page-profile .poll_link span.results{
  right: 100px;
}

.page-profile .poll_link a{
  color: #666;
  width: 100%;
  display: block;
}

.page-profile .poll_link:hover,
.page-profile .poll_link:focus{
  background-color: #96d0e6;
}

.page-profile .poll_link:hover a,
.page-profile .poll_link:focus a{
  color: #fff;
  text-decoration: none;
}

.page-login {
  margin-top: 100px;
}

.page-login form > div {
  position: relative;
  display: inline-block;
}

.page-login form > div:after{
  content: '';
  position: absolute;
  right: 15px;
  top: 10px;
  width: 32px;
  height: 32px;
  display: block;
  background: url(../images/github.png);
  transition: .3s;
}

.btn-login {
  background-color: #96d0e6;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 15px 60px 15px 30px;
  transition: .3s;
  position: relative;
  outline: none;
}

.page-login form > div:hover:after,
.page-login form > div:focus:after{
  background: url(../images/github_dark.png);
}

.page-login form > div:hover .btn-login,
.page-login form > div:focus .btn-login{
  border: 1px solid #333;
  background-color: transparent;
}

.page-new {
  margin-top: 70px;
  margin-bottom: 50px;
}

.page-new .form-group {
  margin-bottom: 25px;
}

.page-new .form-group .form-control {
  height: 44px;
  font-size: 12px;
}

.page-new  .btn-vote {
  margin-top: 0;
}

.page-new .btn-default:hover,
.page-new .btn-default:focus{
  background-color: #96d0e6;
  color: #fff;
  border: 1px solid #96d0e6;
}